*.txt
Java/lib
*.class
*.jar
Web/
OOP/
revamp/
ClassLinks/
Games/
test.cpp
Program
*.gch
*.out
*.o
*.exe
*.json
The_Right_Angle/
X/
Canvas/
Codeforce-EasySubmission/
Runtime/
shared/
Projects/
__pycache__
